<div class="col-md-12">
  
  <button type="button" (click)="add()">CLICK</button><br/>
  <button type="button" (click)="remove()">REMOVE</button>
  <div class="title" *ngIf="show">
    <h1>the vedio is uploaded</h1>
  </div>
</div>